# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DX12Init/x64/Debug/vc143.pdb
DX12Init/x64/Debug/vc143.idb
DX12Init/x64/Debug/DX12Init.tlog/rc.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/rc.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/rc.command.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.secondary.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.command.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/DX12Init.lastbuildstate
DX12Init/x64/Debug/DX12Init.tlog/CopyFile.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CopyFile.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CopyFile.command.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CL.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CL.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/Cl.items.tlog
DX12Init/x64/Debug/DX12Init.tlog/CL.command.1.tlog
DX12Init/x64/Debug/DX12Init.res
DX12Init/x64/Debug/DX12Init.log
DX12Init/x64/Debug/DX12Init.ilk
DX12Init/x64/Debug/DX12Init.exe.recipe
.vs/DX12Init/v17/ipch/AutoPCH/fdd1499107ae7c99/MAIN.ipch
.vs/DX12Init/v17/ipch/AutoPCH/f27666ea7a90d5c7/DX12INIT.ipch
.vs/DX12Init/v17/ipch/AutoPCH/cc465ba45caa8753/MAIN.ipch
.vs/DX12Init/v17/ipch/AutoPCH/9d085c4370d14541/MYAPP.ipch
.vs/DX12Init/v17/ipch/AutoPCH/7dd8cac8a0f5ec96/MYD3DCONTEXT.ipch
.vs/DX12Init/v17/ipch/AutoPCH/699e311c4f11b3cb/MYD3DCONTEXT.ipch
.vs/DX12Init/v17/ipch/AutoPCH/292a6a8268bf7bb8/MYAPP.ipch
.vs/DX12Init/v17/DocumentLayout.json
.vs/DX12Init/v17/DocumentLayout.backup.json
.vs/DX12Init/v17/Browse.VC.opendb
.vs/DX12Init/v17/Browse.VC.db-wal
.vs/DX12Init/v17/Browse.VC.db-shm
.vs/DX12Init/v17/Browse.VC.db
.vs/DX12Init/v17/.suo
.vs/DX12Init/FileContentIndex/read.lock
.vs/DX12Init/FileContentIndex/f1b6d91a-3ee9-43d5-89f7-defc4ca91687.vsidx
.vs/DX12Init/FileContentIndex/a89dee87-4a7d-4396-b1a5-88e8cc1a943d.vsidx
.vs/DX12Init/FileContentIndex/94e35bad-db57-4eca-95e3-a5a6a7b957ec.vsidx
.vs/DX12Init/FileContentIndex/86827379-8568-4864-92ba-fde3abbe4603.vsidx
.vs/DX12Init/FileContentIndex/7d401df7-e96b-4513-b79b-85ea5ad17040.vsidx
.vs/DX12Init/FileContentIndex/4d63fa6f-3a76-4750-b2f2-4739b2a10f61.vsidx
.vs/DX12Init/FileContentIndex/3d4a9587-1326-42af-94b1-f2f6d601c3fa.vsidx
.vs/DX12Init/FileContentIndex/3a75113f-30ed-4cbc-9647-0f16d882c9f5.vsidx
.vs/DX12Init/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/DX12Init/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/DX12Init/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/DX12Init/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/DX12Init/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/DX12Init/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/DX12Init/v17/Browse.VC.db
.vs/DX12Init/v17/.suo
.vs/DX12Init/FileContentIndex/read.lock
.vs/DX12Init/FileContentIndex/f1b6d91a-3ee9-43d5-89f7-defc4ca91687.vsidx
.vs/DX12Init/FileContentIndex/94e35bad-db57-4eca-95e3-a5a6a7b957ec.vsidx
.vs/DX12Init/FileContentIndex/7d401df7-e96b-4513-b79b-85ea5ad17040.vsidx
# Created by https://www.toptal.com/developers/gitignore/api/visualstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudio

### VisualStudio ###
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml

### VisualStudio Patch ###
# Additional files built by Visual Studio

# End of https://www.toptal.com/developers/gitignore/api/visualstudio