# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DX12Init/x64/Debug/vc143.pdb
DX12Init/x64/Debug/vc143.idb
DX12Init/x64/Debug/DX12Init.tlog/rc.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/rc.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/rc.command.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.secondary.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/link.command.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/DX12Init.lastbuildstate
DX12Init/x64/Debug/DX12Init.tlog/CopyFile.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CopyFile.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CopyFile.command.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CL.write.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/CL.read.1.tlog
DX12Init/x64/Debug/DX12Init.tlog/Cl.items.tlog
DX12Init/x64/Debug/DX12Init.tlog/CL.command.1.tlog
DX12Init/x64/Debug/DX12Init.res
DX12Init/x64/Debug/DX12Init.log
DX12Init/x64/Debug/DX12Init.ilk
DX12Init/x64/Debug/DX12Init.exe.recipe
.vs/DX12Init/v17/ipch/AutoPCH/fdd1499107ae7c99/MAIN.ipch
.vs/DX12Init/v17/ipch/AutoPCH/f27666ea7a90d5c7/DX12INIT.ipch
.vs/DX12Init/v17/ipch/AutoPCH/cc465ba45caa8753/MAIN.ipch
.vs/DX12Init/v17/ipch/AutoPCH/9d085c4370d14541/MYAPP.ipch
.vs/DX12Init/v17/ipch/AutoPCH/7dd8cac8a0f5ec96/MYD3DCONTEXT.ipch
.vs/DX12Init/v17/ipch/AutoPCH/699e311c4f11b3cb/MYD3DCONTEXT.ipch
.vs/DX12Init/v17/ipch/AutoPCH/292a6a8268bf7bb8/MYAPP.ipch
.vs/DX12Init/v17/DocumentLayout.json
.vs/DX12Init/v17/DocumentLayout.backup.json
.vs/DX12Init/v17/Browse.VC.opendb
.vs/DX12Init/v17/Browse.VC.db-wal
.vs/DX12Init/v17/Browse.VC.db-shm
.vs/DX12Init/v17/Browse.VC.db
.vs/DX12Init/v17/.suo
.vs/DX12Init/FileContentIndex/read.lock
.vs/DX12Init/FileContentIndex/f1b6d91a-3ee9-43d5-89f7-defc4ca91687.vsidx
.vs/DX12Init/FileContentIndex/a89dee87-4a7d-4396-b1a5-88e8cc1a943d.vsidx
.vs/DX12Init/FileContentIndex/94e35bad-db57-4eca-95e3-a5a6a7b957ec.vsidx
.vs/DX12Init/FileContentIndex/86827379-8568-4864-92ba-fde3abbe4603.vsidx
.vs/DX12Init/FileContentIndex/7d401df7-e96b-4513-b79b-85ea5ad17040.vsidx
.vs/DX12Init/FileContentIndex/4d63fa6f-3a76-4750-b2f2-4739b2a10f61.vsidx
.vs/DX12Init/FileContentIndex/3d4a9587-1326-42af-94b1-f2f6d601c3fa.vsidx
.vs/DX12Init/FileContentIndex/3a75113f-30ed-4cbc-9647-0f16d882c9f5.vsidx
.vs/DX12Init/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/DX12Init/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/DX12Init/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/DX12Init/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/DX12Init/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/DX12Init/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/DX12Init/v17/Browse.VC.db
.vs/DX12Init/v17/.suo
.vs/DX12Init/FileContentIndex/read.lock
.vs/DX12Init/FileContentIndex/f1b6d91a-3ee9-43d5-89f7-defc4ca91687.vsidx
.vs/DX12Init/FileContentIndex/94e35bad-db57-4eca-95e3-a5a6a7b957ec.vsidx
.vs/DX12Init/FileContentIndex/7d401df7-e96b-4513-b79b-85ea5ad17040.vsidx
